#left-eye, #right-eye {
  animation: eyeballs 3s linear infinite;
}

@keyframes eyeballs {

  0% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(-5px);
  }

}

#right-ear,
#left-ear {
  transition: all .5s ease-in;
}

#bear:hover #left-ear,
#bear:hover #right-ear {
  transform: translateY(-5px);
}
